* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 20px;
}

.container {
    background-color: tomato;
    font-size: 20px;
    width: 10rem;
    min-height: 5em;
}

h1 i {
    color: #992828;
}